body {
    overflow: hidden;
}

#book {
    margin: 5% auto;
    width: 400px;
    height: 600px;
}

#book > div {
    display: none;
}

#book.turn-js > div {
    display: block;
}

#book .turn-page {
    background-size: 100% 100%;
}

#book div {
    background-size: cover;
    background-position: center center;
}