body {
    background-color: #EFF0F2;
}

.intro-page {
    background-color: white;
    margin: 0 auto;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.underline-bold {
    background-color: #DFE9F2;
}

.up-point {
    width: 0;
    height: 0;
    border-left: 15px solid #C24A4A;
    border-right: 15px solid #C24A4A;
    border-top: 15px solid transparent;
    border-bottom: 15px solid #C24A4A;
    margin-left: 50%;
}

.page-num {
    background-color: #4B72A6;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    margin: var(--padding-xs);
    padding-left: var(--padding-xs);
}

.flip-book {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    overflow: visible;
    position: relative;
}

.page-num-div {
    position: absolute;
    left: calc(100% - 20px);
    top: 20%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-sm);
}

.bold-main-text {
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 3vh;
    margin-left: 2.5%;
}

.num-circle {
    width: 6%;
    height: 6%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    border-radius: 50%;
}

.circle-and-text {
    display: flex;
    margin-top: 3vh;
    margin-left: 2.5%;
}

.small-text {
    font-size: 0.75em;
    margin-left: 5%;
}

#bold-main-text-id {
    margin-top: 5%;
}

.general-page {
    background-color: #4B72A6;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    position: relative;
}

.general-page-title {
    color: white;
    font-weight: bold;
    margin-top: 3vh;
    margin-left: 5%;
}

.inside-box {
    width: 90%;
    height: 80%;
    background-color: white;
    margin-top: 2.5vh;
    margin-left: 0;
}

.blue {
    position: absolute;
    width: 95%;
    height: 4%;
    background-color: #4B72A6;
    border-radius: 30em;
    bottom: 2%;
    z-index: 1;
}

.danger-div {
    position: absolute;
    width: 45%;
    border: 0.5px solid black;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border-radius: var(--radius-lg);
    margin-left: 23%;
    display: flex;
    margin-top: 3vh;
}

.text {
    width: 95%;
    height: 50%;
    padding-top: 25%;
    padding-left: 5%;
    text-align: center;
    font-size: 0.85em;
}

.go-div {
    position: absolute;
    bottom: 6.3vh;
    left: 65%;
}

.go {
    font-weight: bold;
}

.go-to-link {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    text-decoration: underline;
}

.go-to-next {
    position: absolute;
    width: 30%;
    height: 3vh;
    background-color: white;
    z-index: 5;
    bottom: 1.3vh;
    margin-left: 65%;
}

.left {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.first-left-box {
    background-color: transparent;
    flex: 1;
    width: 100%;
    height: 20%;
    border-right: 10px solid #D9D9D9;
    border-bottom: 3px solid #D9D9D9;
}

.left-box {
    background-color: transparent;
    flex: 1;
    width: 100%;
    height: 20%;
    border-top: 10px solid #D9D9D9;
    border-right: 10px solid #D9D9D9;
    border-bottom: 3px solid #D9D9D9;
}

.last-left-box {
    background-color: transparent;
    flex: 1;
    width: 100%;
    height: 20%;
    border-top: 10px solid #D9D9D9;
    border-right: 10px solid #D9D9D9;
}

.right-first-outside-box {
    width: 87%;
    background-color: white;
    height: 5vh;
    border-radius: 8px;
    margin-left: 6%;
    margin-top: 2vh;
}

.right-first-inside-box {
    width: 95%;
    border: 2px solid #4B72A6;
    margin: 0 auto;
    margin-top: 2vh;
    border-radius: 8px;
    height: 3.5vh;
    position: relative;
    top: 0.6vh;
}

.small-font {
    font-weight: bold;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.3vh;
}

.white-paper {
    width: 87%;
    background-color: white;
    margin-left: 6%;
    border-radius: 12px;
    margin-top: 2vh;
    padding: 2vh 4% 2vh 4%;
}

.topic {
    font-size: 0.8em;
    font-weight: bold;
    padding-bottom: 1vh;
    padding-top: 1vh;
    border-bottom: 0.5px solid gray;
    margin-bottom: 1.5vh;
}

.intro-content {
    font-size: 0.65em;
    padding-bottom: 1vh;
}

.back-page {
    height: 100vh;
    width: 1.5%;
    background-color: gainsboro;
    border-top: 0.8px solid gray;
    border-right: 0.8px solid gray;
    border-bottom: 0.8px solid gray;
    border-radius: 12px;
}

.flex {
    display: flex;
    height: 100%;
}

.general-white-page {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    position: relative;
}

.small-font-div {
    position: relative;
    padding-bottom: 2vh;
    padding-top: 2vh;
    border-bottom: 1px solid black;
    width: 100%;
}

.border-bottom-div {
    border-bottom: 1px solid black;
    padding: 4vh 10% 4vh 10%;
    height: 38vh;
}

.danger {
    font-size: 0.8em;
    font-weight: bold;
    box-shadow: inset 0px -11px 0 #EDC9C9;
    width: 22%;
}

.content {
    font-size: 0.8em;
    margin-top: 4vh;
    line-height: 2.5vh;
}

.go-inside {
    display: flex;
    align-items: center;
}

.go-inside-div {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
    height: 13%;
    position: absolute;
    bottom: 0;
    left: 75%;
}

.go-inside {
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex: 1;
}

@media (min-height: 800px) {
    .blue {
        position: absolute;
        width: 95%;
        height: 4%;
        background-color: #4B72A6;
        border-radius: 30em;
        top: 96%;
        z-index: 1;
    }

    .danger-div {
        position: absolute;
        width: 45%;
        border: 0.5px solid black;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        border-radius: var(--radius-lg);
        margin-left: 23%;
        display: flex;
        margin-top: 2.5vh;
    }

    .border-bottom-div {
        border-bottom: 1px solid black;
        padding: 4vh 10% 4vh 10%;
        height: 34vh;
    }

    .content {
        font-size: 0.8em;
        margin-top: 2vh;
        line-height: 2.5vh;
    }
}

@media (min-height: 900px) {
    .border-bottom-div {
        border-bottom: 1px solid black;
        padding: 4vh 10% 4vh 10%;
        height: 31vh;
    }
}